.header {
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
    box-shadow: 0 2px 8px #0005;
    background-color: #fff;
}

.header > img {
    display: inline-block;
    float: left;
    width: 60px;
    height: 60px;
}

.header > .title {
    display: inline-block;
    float: right;
    line-height: 60px;
}